@media screen and (max-width :100px) {
    .Tag{
    width: auto;
    }
}
@media screen and (max-width :100px) {
    .tit{
    width: auto;
    }
}
@media screen and (max-width :610px) {
    .img1{
    width: auto;
    }
}
@media screen and (max-width :100px) {
    .img2{
    width: 0%;
    }
}
@media screen and (max-width :100px) {
    .no{
    width: 0%;
    }
}

.Tag{
    display: flex;
    justify-content: space-between;
    background: yellow;
    padding: 1px;
    margin: -8px;
}
.Tag h1{
    font-style: italic;
    margin-left: 100px;
}
.tit{
    margin-bottom: 13pxx;
}
.addr{
    font-style: italic;
    margin-left: 100px;
}
.call_logo{
    height: 28px;
    width: 28px;
    margin-top: 26px;
    margin-left: 555px;

}
.no{
    font-style: italic;
    float: right;
    margin-right: 110px;
    font-size: large;
    margin-top: 30px;
}
.ADDMISSION{
    color: white;
    font-size: x-large;
    background-color: black;
    margin-top: 1px;
    padding: 11px;
}
.scc-img{
    display: flex;
    justify-content: space-between;

}
.img1{
    height: 330px;
    width: 610px;
}
.img2{
    height: 330px;
    width: 610px;

}